# PostgreSQL
POSTGRES_USER=finpulse_user
POSTGRES_PASSWORD=finpulse_password
POSTGRES_DB=finpulse
POSTGRES_PORT=5432

# pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@finpulse.ai
PGADMIN_DEFAULT_PASSWORD=admin

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001