# Environment
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/*
data/processed/*
data/curated/*

# Keep folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/curated/.gitkeep

# Logs
logs/
*.log

# MLflow
mlruns/

# OS
.DS_Store
Thumbs.db